.sitename {
	font-family: 'Slabo 27px', serif;
	font-size: 120px;
	position: absolute;
	color: #fff;
	z-index: 2000;
}
header {
	width: 100%;
	height: 400px;
	background-color: #070200;

}
.header-bg {
	position: absolute;
	margin: 0 auto;
	z-index: 0;
}

.buttons {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.buttons li a{

	position: absolute;
	z-index: 1;
	color: #fff;	
	text-decoration: none;
	margin: 0;
	padding: 0;
}

