.container-fluid {
	margin: 0 auto;
	padding: 0;
}

/*==============HEADER================*/
.sitename {
	font-family: 'Slabo 27px', serif;
	font-size: 50px;
	color: #8C8279;
	margin-top: 50px;
}
header {
	width: 100%;
	background-color: #070200;
	position: absolute;
	z-index: -2;
}

.header-bg {
	position: absolute;
	margin: 0 auto;
	z-index: -1;
}

.buttons {
	position: relative;
	list-style: none;	
	font-size: 18px;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	background: #FFB337;
}

.row .menu{
	position: relative;
	text-decoration: none;
	font-size: 20px;
	width: 100%;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fa7f00;
	text-align: center;
}

.buttons li a{
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #fff;
}

.buttons li a:hover{
	background: #DE9427;
}


/*================MAIN=================*/
.main, .main .row, .welcome {
	position: relative;
}


